<body>
  <div id="navbar" class="nav">
    <span class="logo">Smartsplit</span>
    <div class="space"></div>
    <div class="nav-elements"><a href="/home">Home</a></div>
    <div class="nav-elements"><a href="/about">About</a></div>
    <div class="nav-elements"><a href="/planner">Planner</a></div>
    <div class="nav-elements"><a href="/tips">Tips</a></div>
    <div class="nav-elements"><a href="/profile">Profile</a></div>
  </div>
</body>
