<body>
  <div id="navbar" class="nav">
    <h1 style="color: white">Smart Split</h1>
    <div class="space"></div>
    <div class="nav-elements"><a href="/about">Home</a></div>
    <div class="nav-elements"><a href="/planner">Tracker</a></div>
    <div class="nav-elements"><a href="/insights">Insights</a></div>
    <div class="nav-elements"><a href="/profile">Profile</a></div>
    <div class="nav-elements"><a href="/contact">Contact us</a></div>
  </div>
</body>
