<%- include("partials/header.ejs")  %>
<%- include("partials/navbar.ejs")  %>

<div id="hero">
    <form class="hero about" action="/about" method="POST">
        <div class="side-image"><img src="images/home1.svg" alt=""></div>
        <div class="contents">
            <h2>What is the 50-30-20 Rule?</h2>
            <p>The 50-30-20 budgeting rule is a simple way to divide your income into three categories: 50% for needs, 30% for wants, and 20% for savings and debt repayment.</p>
    </form>

 </div>