<%- include("partials/header.ejs") %> <%- include("partials/navbar.ejs") %>

<div id="logbar" class="log">
  <div class="" style="font-weight: 700; font-size: 2rem; color: #fff">
    Smartsplit
  </div>
</div>

<!-- Hero Section -->
<div id="hero">
  <form class="hero" action="/login" method="GET">
    n
    <div class="side-image"><img src="images/start.svg" alt="" /></div>
    <div class="contents">
      <h1>Master Your Money with the 50-30-20 Rule</h1>
      <p>
        Simplify your budgeting, achieve your goals, and enjoy financial
        freedom.
      </p>
      <button type="submit">Get Started</button>
    </div>
  </form>
</div>

<!-- Footer Section -->
<%- include("partials/footer.ejs") %>
