<%- include("partials/header.ejs") %> <%- include("partials/navbar.ejs") %>

<div id="insights">
  <div class="insights-content">
    <h2>Budgeting Tips</h2>
    <br />
    <ul>
      <li>
        Track your spending regularly to stay within the 50-30-20 guidelines.
      </li>
      <li>
        Prioritize saving for an emergency fund before discretionary spending.
      </li>
      <li>
        Review and adjust your budget as your financial situation changes.
      </li>
    </ul>
  </div>

  <div class="insights-img"><img src="images/insights.svg" alt="" /></div>
</div>

<!-- Footer Section -->
<%- include("partials/footer.ejs") %>
